$backColor: rgb(149, 134, 134);
// ============ POSITION ============

// ============ COLORS ============

$main: #ffffff;
$primaryBtn: #0095f6;
$textColor: #000000;
$darkGrey: #737373;
$darkGreyHover: #535252;
$formStroke: #dbdbdb;
$postLightGrey: #efefef;
$modalBack: rgba(0, 0, 0, 0.623);

// ============ WIDTH ============

$sideBarW: 245px;
$sideBarWR: 60px;

// ============ HEIGHT ============

$footerH: 158px;
$footerHR: 60px;
